@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; 
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-section {
  background: linear-gradient(to right, #EE6C4D, #F9F871); 
}

.swiper-slide img {
  width: 100%;
  height: 500px; 
  object-fit: cover; 
}

.swiper-pagination-bullet-active {
  background-color: #EE6C4D !important; 
}

.feature-icon {
  background: linear-gradient(to right, #EE6C4D, #F9F871); 
  -webkit-background-clip: text;
  color: transparent;
}